{% extends "bunpai/base.html" %}

{% block title %} 電卓　{% endblock title %}

{% block content %}

<h1>資金分配</h1>
<p>
<li id="menu01"><a href="{% url 'bunpai' %}">リセット</a></li>
</p>
<body>
<form method= "post" action="preload">
    {% csrf_token %}
<p>
STEP１
</p>

<p>
<button type="submit" style="width:100px;height:35px" >開催場読込 </button>
</form>
</p>


{{kaisaibi_list}}{{kaisai_list}}


STEP２
  <form method= "post" action="select">
      {% csrf_token %}
    <select id="Select1" name = "kaisai">
      <option>---</option>
      <option>{{kaisai_list.0}}</option>
      <option>{{kaisai_list.1}}</option>
      <option>{{kaisai_list.2}}</option>

    </select>
 
    <select id="Select2" name = "race">
        <option>---</option>
        <option value=10>10R</option>
        <option value=11>11R</option>
  
      </select>

  <button type="submit"> 設定 </button>
  </form>
</body>

{{ms}} 
{{ms2}}
<p>
STEP３
</p>
<form method= "post" action="get_data">
{% csrf_token %}
<!-- 開催　隠し -->
<input type = "hidden" value={{kaisai}} name="target_kaisai" placeholder="開催場">
<!-- レース 隠し -->
<input type = "hidden" value={{race}} name="target_race" placeholder="レース">


<button type="submit" style="width:100px;height:35px" > データ取得 </button>

<p>
{{target_kaisai}}
</p>
<p>
{{target_race}}
</p>


</form>

<form method= "post" action="sikinbunpai">
    {% csrf_token %}

<p>
<td>投資額</td>
<td><input type ="number"  min="100" step="100" label='予算' value="2000" name="budget" style="font-size: 12pt;"></td>
</p>

<font color="red" size="5">{{errorms1}}</font><br>

STEP４
<p>
<button type="submit" style="width:100px;height:35px" > 資金分配 </button>
</p>
<font size="4">{{kaisai}} {{race}} 上位６番人気以内オッズ</font>

    <table border="2"  >
        <tr>
          <td>No.</td>
          <td>対象</td>
          <td>オッズ</td>
          <td>割合</td>
          <td>購入額</td>
          <td>払戻</td>
          <td>利益</td>
          <td>実オッズ</td>
          <td>備考</td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td>
              <input type="checkbox" name="odds1check">
            </td>
            <td>  
              <!--<input type="text" name="vm.list[0].odds" value="" style="ime-mode: disabled;"/>-->
              <input type="text" name="odds1"  value="{{odds_list.0}}" id="odds1" style="font-size: 12pt;">
            </td>
            <td align="right">
              {{ratio.0}}%
            </td>
            <td align="right">{{each_bet.0}}円</td>
            <td align="right">{{return_list.0}}円</td>
            <td align="right">{{profit_list.0}}円</td>
            <td align="right"></td>
            <td></td>
        </tr>

        <tr>
            <td align="center">2</td>
            <td>
              <input type="checkbox" name="odds2check" />
            </td>
            <td>
              <input type="text" name="odds2" value="{{odds_list.1}}" id="odds2" style="font-size: 12pt;">
            </td>
            <td align="right">
              {{ratio.1}}%
            </td>
            <td align="right">{{each_bet.1}}円</td>
            <td align="right">{{return_list.1}}円</td>
            <td align="right">{{profit_list.1}}円</td>
            <td align="right"></td>
            <td></td>
          </tr>
            <tr>
            <td align="center">3</td>
            <td>
              <input type="checkbox" name="odds3check" />
            </td>
            <td>
              <input type="text" name="odds3" value="{{odds_list.2}}" id="odds3" style="font-size: 12pt;">
            </td>
            <td align="right">
              {{ratio.2}}%
            </td>
            <td align="right">{{each_bet.2}}円</td>
            <td align="right">{{return_list.2}}円</td>
            <td align="right">{{profit_list.2}}円</td>
            <td align="right"></td>
            <td></td>
          </tr>
            <tr>
            <td align="center">4</td>
            <td>
              <input type="checkbox" name="odds4check" />
            </td>
            <td>
              <input type="text" name="odds4" value="{{odds_list.3}}" id="odds4" style="font-size: 12pt;">
            </td>
            <td align="right">
              {{ratio.3}}%
            </td>
            <td align="right">{{each_bet.3}}円</td>
            <td align="right">{{return_list.3}}円</td>
            <td align="right">{{profit_list.3}}円</td>
            <td align="right"></td>
            <td></td>
          </tr>
            <tr>
            <td align="center">5</td>
            <td>
              <input type="checkbox" name="odds5check" />
            </td>
            <td>
              <input type="text" name="odds5" value="{{odds_list.4}}" id="odds5" style="font-size: 12pt;">
            </td>
            <td align="right">
              {{ratio.4}}%
            </td>
            <td align="right">{{each_bet.4}}円</td>
            <td align="right">{{return_list.4}}円</td>
            <td align="right">{{profit_list.4}}円</td>
            <td align="right"></td>
            <td></td>
          </tr>
            <tr>
            <td align="center">6</td>
            <td>
              <input type="checkbox" name="odds6check" />
            </td>
            <td>
              <input type="text" name="odds6" value="{{odds_list.5}}" id="odds6" style="font-size: 12pt;">
            </td>
            <td align="right">
              {{ratio.5}}%
            </td>
            <td align="right">{{each_bet.5}}円</td>
            <td align="right">{{return_list.5}}円</td>
            <td align="right">{{profit_list.5}}円</td>
            <td align="right"></td>
            <td></td>
          </tr>
</form>












{% endblock %}
<!-- <form method= "post" action="reset">
{% csrf_token %}